
.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.purple{
    color: purple;
}

.yellow {
    color: yellow;
}

.lightgray {
    background-color: lightgray;
}

.gray {
    background-color: gray;
}
